{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="{{ url_for('index') }}" method="post">
        <br>
        <br>
        <h2>Current Cash available {{cash}}<br>
            <br>
            Total Cash and Stock Value {{total_value}}<br>
            <br>
        </h2>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Stock Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Total Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{name}}</td>
            <td>{{shares}}</td>
            <td>{{price}}</td>
            <td>{{shares_value}}</td>
            </tr>
        </tbody>
        </table>
{% endblock %}
